@use "../colors";
@use "../abstracts/variables";
@use "./Components.module.scss";

.container {
  display: flex;
  flex-direction: column;
  background-color: colors.$color-white;
}

.button_filled {
  width: 40%;
  // margin: 0 0 3rem 0rem;
}
.content {
  display: flex;
  padding: 0 4rem;
  margin-bottom: 3rem;
  overflow: hidden;
}

.content_button {
  padding: 0;
}

.generate {
  display: flex;
  width: calc(100% - variables.$sidebar-width);
  flex-direction: column;
}

.content_col {
  width: 80%;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
}

.pagination {
  display: flex;
  justify-content: end;
  margin-top: 3rem;
}

// .custom_file_input::-webkit-file-upload-button {
//   visibility: hidden;
// }
// .custom_file_input::before {
//   content: "Cargar activo fijo desde archivo";
//   display: inline-block;

//   background-color: colors.$primary;
//   padding: 5px 8px;
//   outline: none;
//   white-space: nowrap;
//   -webkit-user-select: none;
//   cursor: pointer;

//   width: 20%;
//   height: 4rem;
//   border-radius: 1rem;
//   border: none;
//   color: colors.$color-white;
//   background-color: colors.$primary;
//   font-size: variables.$h3-font-size;
//   font-family: "Roboto", sans-serif;
//   margin-top: 1rem;
//   margin-left: 3rem;
// }

// .custom_file_input:hover::before {
//   border-color: black;
// }
// .custom_file_input:active::before {
//   background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
// }

.custom_file_input {
  width: 0;
  height: 0;
}
// . {
//   color: colors.$primary;
// }
